@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

:root {
    --primary: #f26522;
    --secondary: #f58342;
    --primary-bg-color: #fbd0ad;
    --white: #fff;
    --dark: #000000;
    --disabled: #b0afaf;
    --blue: #155e95;
    --second-blue: #1871b1;
    --blue-hover: #0e4a78;
    --disabled-hover: #949393;
    --disabled-text: #a9a9a9;
    --soft-black: #1f1f1f;
    --not-active: #f0f0f0;
    --red: #fc423f;
    --red-secondary: #ff6967;
    --info: #00d2f7;
    --info-secondary: #5beeff;
    --success: #77cc22;
    --success-secondary: #91dc3f;
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.toast {
    position: fixed;
    top: 60px;
    left: 30px;
    z-index: 9999;
    min-width: 250px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.toast.success {
    background:linear-gradient(to top,var(--success),var(--success-secondary));
}

.toast.error {
    background:linear-gradient(to top,var(--red),var(--red-secondary));
}

.toast.warning {
    background:linear-gradient(to top,var(--primary),var(--secondary));
}

